.header{
	width:850px;
	margin:auto;
	padding-top:100px;">
}

.photo-container{
  position: relative;
}

.photo-row{
	display:block;
	height:650px;
	margin-top:50px;
	margin-bottom:50px;	
}

.photo-item{
	display:inline-block;
	width:650px;
	margin-left:50px;
	margin-right:50px;	
}

.photo-border{
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}

.photo-content-35{
  position: absolute;
  top:154;
  left:75;
}

.photo-content-35-portrait{
  position: absolute;
  top:71;
  left:158;
}

.photo-content-120{
  position: absolute;
  top:75;
  left:75;
}

a{
	text-decoration: none;
}

p{
	font-family: FreeMono, monospace;
	color: white;
	font-size: 40px;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}